body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background: #ccc;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    border-radius: 15px 0 28px 10px;
}