body{
    background: #0b000c;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

form{
    background: #67005aab;
    display: flex;
    flex-flow: column wrap;
    padding: 40px;
    border-radius: 15px 0 28px 10px;
    box-shadow:2px 2px 20px #57004cab;
}

input{
    width: 90%;
    height: 30px;
    border-radius: 0 10px 12px 22px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    background: #28002c;
    color: rgb(246, 209, 250);
    transition: 0.5s;
}

input:hover{
    background: #1b001d;
}

textarea{
    width: 90%;
    height: 30px;
    border-radius: 12px 25px 0px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    background: #3c0340;
    color: rgb(246, 209, 250);
    transition: 0.5s;
}

textarea:hover{
    background: #2f0332;
}

label{
    color: rgb(246, 209, 250);
}

::placeholder{
    color: rgb(196, 195, 195);
}

button{
    background: rgb(235, 149, 245);
    border: none;
    border-radius: 40px 30px 10px 0px;
    margin-top: 20px;
    padding: 15px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background: rgb(107, 68, 112);
}