body{
    background: #0b000c;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background: #67005aab;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    border-radius: 15px 0 28px 10px;
}

input{
    width: 90%;
    height: 30px;
}

label{
    color: rgb(246, 209, 250);
}